@import url('https://fonts.googleapis.com/css2?family=Nobile&family=Nunito+Sans&family=Overpass&display=swap');

/* General Stylings */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito Sans, sans-serif;
    color: #9a9a9a;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

/* Headings */

h1,
h2 {
    font-family: Overpass, sans-serif;
    letter-spacing: 3px;
    color: darkslategrey;
    text-transform: uppercase;
}

#logo {
    text-align: center;
    font-size: 250%;
    margin: 0 auto;
    padding: 10px;
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
    background-color: #062b7d;
    text-align: center;
    margin: 0 auto;
    width: 97%;
    border-radius: 10px;
}

#menu,
logo {
    line-height: 50px;
}

#menu li {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

#menu a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

#menu a:hover {
    background-color: #3963bc;
}